.campo-grupo-3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 40px;
    margin-bottom: 20px
}
input [read-only]{
    background-color: #f0f4f0f0;
    color: #555;
    cursor: not-allowed;
}
#bloco-segunda-lingua{
    display: none;
    margin-top: 20px;
    padding: 20px 25px;
    background-color: #f0f6ff;

}
#bloco-segunda-lingua p{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #1a2f45;
    margin-bottom: 14px;
}
.opcao-lingua input[type="radio"]{
    accent-color: #1a2f45;
    width: 16px;
    height: 16px;
    margin-right: 0;
    cursor: pointer;
}
.opcao-lingua label{
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    margin-bottom: 0;
}
 #bloco-telefone-tarde{
    display: none;
    margin-top: 16px;
    padding:16px 20px ; 
    background-color: #fff8f0;
    border: 2px dashed #e67e22;
    border-radius: 8px;
    animation: fadeIn 0.3s ease;
 }
 #bloco-telefone-tarder p {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color:#e67e22;
    margin-bottom: 10px;
}
#bloco-telefone-tarde input[type="text"]{
    width:100%;
    padding: 9px 13px;
    border: 1px solid #e67e22;
    border: radius 6px;
    font: size 15px;
    background-color: #ffff;
    transition:border-color 0.3s,box-shadow 0.3s;
}
#bloco-telefone-tarde input[type="text"]:focus{
    border-color: #d35400;
    box-shadow: 0 0 0 3px;
    outline: none;
}